body{
    --height-menu: 30px;
    --width-button: 100%;
}

#hamburger{
    display: block;
    margin:0;
}

#hamburger>i{
    height: var(--height-menu);
    width:auto;
    margin:0;
    display: block;
}

ul.meniu{
    display: none;
}


#home_link, #home_link ul li{
    transition: none;
    text-shadow: none;
    text-decoration: none;
}


ul.meniu li{
    transition: none;
    text-shadow: none;
}

ul.meniu li:hover{
    transition: none;
    text-shadow: none;
}


#ch-menu:checked + ul.meniu{
    display: block;
    /*cu + selectez fratele imediat urmator de dupa ch-menu*/
    animation-name: animatie_meniu;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation: appear 2s ease-out forwards;
    animation-iteration-count: 1;
    transform-origin: center top;
}


@keyframes animatie_meniu {
    /*0%{*/
    /*    opacity: 0;*/
    /*    transform: scale(0,0); !*factorul pe orizontala, verticala*!*/
    /*}*/

    /*50%{*/
    /*    transform: scale(0.5,0.5);*/
    /*}*/

    /*100%{*/
    /*    opacity: 1;*/
    /*    transform: scale(1,1);*/
    /*}*/


    0% {
        transform: scale(0,1);
        opacity: 0;
    }
    100% {
        transform: scale(1,1);
        opacity: 1;
    }
}
