<!DOCTYPE html>
<html lang="en">
<head>
    <title>WANDERWORLD</title>
    <meta name="keywords" content="flight, booking, hotel, restaurant, price, holiday, vacation, ticket, city, country, tour, tour guide, museum,destination">
    <meta name="description" content="Wanderworld will help you plan your dream holiday offering a wide range of options for your flight, hotel or just a tourist guide for main landmarks around the world"><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->


    <%- include("../fragmente/head.ejs") %>

</head>

<body>
<%- include("../fragmente/header.ejs") %>

<main>
    <h2>PAGINA 2</h2>
</main>


<%- include("../fragmente/footer.ejs") %>


</body>
</html>



<!--https://faq.whatsapp.com/5913398998672934/?helpref=hc_fnav&locale=en_US
https://developers.google.com/maps/documentation/javascript/adding-a-google-map
-->