<footer>
    <br>
    <div id="contact">
        <address>
            <a id="mail" href="mailto:andronicsmaranda05@gmail.com">Email us  <i class="fa-solid fa-envelope"></i></a><br>
            <a id="tel" href="tel:+40745611210">Call us  <i class="fa-solid fa-phone"></i> </a><br>
            <a id="map" href="https://www.google.com/maps/dir//Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83+Strada+Academiei+14+Bucure%C8%99ti+010014/@44.4355355,26.0995867,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x40b1ff472f47f047:0x493984726f0235f9!2m2!1d26.0995867!2d44.4355355">Find us here <i class="fa-sharp fa-solid fa-location-dot"></i></a><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.884300753012!2d26.097392650492484!3d44.43553547899959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1677860076640!5m2!1sro!2sro" width="600" height="450" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">

            </iframe>
        </address>


        <a aria-label="Chat on WhatsApp" href="https://wa.me/+40745611210">
            <img alt="Chat on WhatsApp" src="./resurse/ChatOnWhatsAppButton/WhiteTheme/WhatsAppButtonWhiteSmall.png" width="150" height="40">
        </a>

        <details>
            <summary>Our partners</summary>
            <dl>
                <dt>Sites </dt>
                <dd>Booking.com</dd>
                <dt>Hotel chains</dt>
                <dd>Hilton Worldwide</dd>
                <dt>Restaurants</dt>
                <dd>Burger King</dd>
                <dd>Five Guys</dd>
            </dl>


        </details>

        <div id="top_link" class="tooltip" >
            <a href="#top" title="Go to the top"> <div class="triangle"></div></a>
            <!--<span class="tooltip_text">Go to top</span>-->
        </div>

        <small>WanderWorld &reg;</small>
        <br>
        <small>Copyright &copy; <time datetime="2023-03-01">1 March 2023</time></small>
    </div>
    <p id="banner"><b>Disclaimer! This is a school project</b></p>
</footer>
