
<header id="header">
    <div id="h1">
        <h1 id="top">Travel with WanderWorld<img id="logo" src="./resurse/ico/fav_bun.png" alt="imagine" title="Logo" width="100" height="100"> </h1>
    </div>

</header>

<nav id="animate_menu">
    <p id="watermark"></p>

    <label id="hamburger" for="ch-menu">
        <div id="bars" class="fa-solid fa-bars"></div>
    </label>

    <input id="ch-menu" type="checkbox">

    <ul class="meniu">
        <!--                <li id="hamburger_menu"><a href="javascript:void(0);" class="icon" onclick="myFunction()">-->
        <!--                    <i class="fa-solid fa-bars"></i></a></li>-->
        <li id="home_link"><div><i  class="fa-solid fa-house"></i><span id="home"> Home</span> <div id="home_icon"></div> </div> <!--nu folosim link pentru submeniu ci intr un div -->
            <ul id="home_links">
                <li><a href="#popular" style="text-decoration:none">Popular places</a></li>
                <li><a href="#best" style="text-decoration:none">Best offers</a></li>
                <li><a href="#us" style="text-decoration:none">More about us</a></li>
                <li><a href="#feedback" style="text-decoration:none">Impressions</a></li>
                <li><a href="#contact" style="text-decoration:none">Contact us</a></li>
            </ul>
        </li>

        <li id="link_flight"><a href="#flight" style="text-decoration:none">Find your flight</a> </li>
        <li id="link_accomodation"><a href="#accomodation" style="text-decoration:none">Accomodation</a></li>
        <li id="link_guide"><a href="#guide" style="text-decoration:none">Travel guide</a></li>
        <li id="link_logging"><a href="#logging" style="text-decoration:none">SignUp</a></li>
    </ul>


    <!--            <script>-->
    <!--                function myFunction() {-->
    <!--                    var x = document.getElementById("home_link");-->
    <!--                    if (x.style.display === "block") {-->
    <!--                        x.style.display = "none";-->
    <!--                    } else {-->
    <!--                        x.style.display = "block";-->
    <!--                    }-->
    <!--                }-->
    <!--            </script>-->

</nav>